
<footer>
    <div class="container">
        <div class="reachus">
            <h3>Reach Us</h3>
            <p>Phone: +1 123 456 7890</p>
            <p>Email: example@example.com</p>
            <p>Address: 1234 Street Name, City Name, United States</p>
            
        </div>
        <div class="social">
            <h3>Social</h3>
            <ul>
                <li><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a></li>
                <li><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                <li><a href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
            </ul>
        </div>

        <div class="joinourpremium">
            <h3>Join Our Premium</h3>
            <p>Get access to all our resources</p>
            <button class="btn btn-primary">Join Now</button>
        </div>
    </div>
    

    <div class="row">
        <div class="col-md-12">
            <p>© 2023 </p>
        </div>
        <div class="legal">
            <ul>
                <li><a href="terms.html">Terms & Conditions</a></li>
                <li><a href="privacy.html">Privacy Policy</a></li>
            </ul>
        </div>
    </div>
</footer>
