<app-header></app-header>

<h1>Get Useful Guides to a Stunning Linkedin Profile</h1>

<div class="articles">
    <h1>Articles</h1>
    <div class="column">
        <div class="card">
            <h2>Profile Photo</h2>
            <p> Your profile photo is often the first impression you make on others. Choose a high-quality photo that portrays you professionally and approachably.</p>
            <a routerLink="">Read More</a>

        </div>

        <div class="card">
            <h2>Headline and Summary</h2>
            <p>Craft a compelling headline that concisely describes who you are and what you do. Use keywords relevant to your industry for better search visibility.  </p>
            <a routerLink="">Read More</a>

        </div>

        <div class="card">
            <h2>Experience and Achievements</h2>
            <p>Your work experience section should detail your accomplishments, responsibilities, and the value you've brought to your roles. Use bullet points to make your achievements stand out.</p>
            <a routerLink="">Read More</a>

        </div>
    </div>
</div>
<div class="vidoes">
    <h1>Videos</h1>
    <div class="row">
        <div class="card2">
            <video src="../../assets/profilevideo.webm" autoplay controls>video</video>
            <div class="cardtext">
                <h3>Profile Optimization</h3>
                <p>Create a comprehensive tutorial video that guides users through the process of optimizing their LinkedIn profiles. In this video, cover the essential elements of a strong profile, such as profile photo, headline, summary, experience, skills, and endorsements.</p>
            </div>
           
        </div>
        <div class="card2">
            <video src="../../assets/profilevideo.webm" autoplay controls>video</video>
            <div class="cardtext">
                <h3>Engagement Strategies and Networking Tips</h3>
            <p>Produce a video that focuses on strategies for effectively engaging with the LinkedIn platform. This video can cover topics like creating engaging posts, sharing relevant content, joining and participating in groups, networking etiquette, and leveraging connections for career growth.</p>
            </div>
            
        </div>
        
    </div>

</div>
<app-footer></app-footer>

